<!DOCTYPE html>
<html lang="en">

<head>
    <title>Altara Credit Customer Approval</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css"> -->
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />

</head>

<body>
    <div id="root">

        <div class="container">

            <header style="width:100%;background-color:#EEEEEE;;color:#00264d ;height:200px">
                <div>
                    <img src="altara_logo.png" alt="" style="width:213px; height:80px;">
                    <h1 style="color: #00264d ; text-align:center"> Credit Collections Portal</h1>
                </div>

            </header>
            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color: #00264d;">Altara Credit Collections</div>
                <div class="panel-body">
                    <div class="clear"></div>
                    <div class="loading" v-if='dataloaded'>Loading&#8230;</div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" v-for="tab in tabs" :class="{active:tab.isActive}">
                            <a href="#" role="tab" data-toggle="tab" @click.stop.prevent="setActive(tab)">{{ tab.name }}</a>

                        </li>

                        <div class="tab-content">
                            <div v-for="tab in tabs" role="tabpanel" class="tab-pane" :class="{active:tab.isActive}">
                                <div class="row">
                                    <div class="form-group col-sm-12 table-responsive" v-if="tab.id ==0">
                                        <table class=" table table-bordered list ">
                                            <tr>
                                                <th>S/No.</th>
                                                <th>Customer ID</th>
                                                <th>Customer Name</th>
                                                <th>Phone Number</th>
                                                <th>Action</th>
                                                <th>Remark</th>

                                            </tr>
                                            <tr v-for="(reminder_customer , index) in reminder_customers">
                                                <td>{{index + 1}}</td>
                                                <td>{{reminder_customer.Customer_id}}</td>
                                                <td>{{reminder_customer.Customer_name}}</td>
                                                <td>{{reminder_customer.Phone}}</td>
                                                <td><span class="btn btn-success btn-small" style="font-size:12px">SMS</span></td>
                                                <td v-if="reminder_customer.Remark ==''">Not Sent</td>
                                                <td v-if="reminder_customer.Remark !=''">{{reminder_customer.Remark}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="form-group col-sm-12 table-responsive" v-if="tab.id ==1">
                                        <table class="table table-bordered list">
                                            <br>
                                            <tr>
                                                <th>S/No.</th>
                                                <th>Customer ID</th>
                                                <th>Customer Name</th>
                                                <th>Phone Number</th>
                                                <th>Action</th>
                                                <th>Remark</th>

                                            </tr>
                                            <tr v-for="(overdue1_customer , index) in overdue1_customers">
                                                <td>{{index + 1}}</td>
                                                <td>{{overdue1_customer.Customer_id}}</td>
                                                <td>{{overdue1_customer.Customer_name}}</td>
                                                <td>{{overdue1_customer.Phone}}</td>
                                                <td><span class="btn btn-success btn-small" style="font-size:12px">SMS</span></td>
                                                <td v-if="overdue1_customer.Remark ==''">Not Sent</td>
                                                <td v-if="overdue1_customer.Remark !=''">{{overdue1_customer.Remark}}</td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="form-group col-sm-12 table-responsive" v-if="tab.id ==2">
                                        <table class="table table-bordered list">
                                            <br>
                                            <tr>
                                                <th>S/No.</th>
                                                <th>Customer ID</th>
                                                <th>Customer Name</th>
                                                <th>Address</th>
                                                <th>Action</th>
                                                <th>SMS Remark</th>
                                                <th>Comment</th>

                                            </tr>
                                            <tr v-for="(overdue2_customer , index) in overdue2_customers">
                                                <td>{{index + 1}}</td>
                                                <td>{{overdue2_customer.Customer_id}}</td>
                                                <td>{{overdue2_customer.Customer_name}}</td>
                                                <td>{{overdue2_customer.Addres}}</td>
                                                <td><span class="btn btn-success btn-small" style="font-size:12px">SMS</span>&nbsp;<button type="button" @click=" selectUser(overdue2_customer.Transaction_id);" class="btn btn-success btn-small" style="font-size:12px"
                                                        data-toggle="modal" data-target="#myModal">CALL</button>
                                                </td>
                                                <td v-if="overdue2_customer.Remark ==''">Not Sent</td>
                                                <td v-if="overdue2_customer.Remark !=''">{{overdue2_customer.Remark}}</td>
                                                <td style="font-size:10px">{{overdue2_customer.Comment}}</td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="form-group col-sm-12 table-responsive" v-if="tab.id ==3">
                                        <table class="table table-bordered list">
                                            <br>
                                            <tr>
                                                <th>S/No.</th>
                                                <th>Customer ID</th>
                                                <th>Customer Name</th>
                                                <th>Address</th>
                                                <th>Action</th>
                                                <th>SMS Remark</th>
                                                <th>Comment</th>

                                            </tr>
                                            <tr v-for="(overdue3_customer , index) in overdue3_customers">
                                                <td>{{index + 1}}</td>
                                                <td>{{overdue3_customer.Customer_id}}</td>
                                                <td>{{overdue3_customer.Customer_name}}</td>
                                                <td>{{overdue3_customer.Addres}}</td>
                                                <td><span class="btn btn-success btn-small" style="font-size:12px">SMS</span>&nbsp;<button type="button" @click="selectUser(overdue3_customer.Transaction_id);" class="btn btn-success btn-small" style="font-size:12px"
                                                        data-toggle="modal" data-target="#myModal1">VISIT</button>
                                                </td>
                                                <td v-if="overdue3_customer.Remark ==''">Not Sent</td>
                                                <td v-if="overdue3_customer.Remark !=''">{{overdue3_customer.Remark}}</td>
                                                <td style="font-size:10px">{{overdue3_customer.Comment}}</td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>

                            </div>
                        </div>


                    </ul>
                </div>


            </div>



            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                            <h4 class="modal-title">Did you Call</h4>
                        </div>
                        <div class="modal-body">
                            <p class="alert alert-danger alert-dismissable" v-if='errorMessage'>
                                <a href="#" class="close" v-on:click="resetMessage" data-dismiss="alert" aria-label="close">&times;</a> {{errorMessage}}
                            </p>
                            <p class="alert alert-success alert-dismissable" v-if='successMessage'>
                                <a href="#" class="close" v-on:click="resetMessage" data-dismiss="alert" aria-label="close">&times;</a> {{successMessage}}
                            </p>
                            <table class="form">

                                <div class="form-group" style="margin:0 auto;width:100px;">
                                    <label class="radio-inline"><input type="radio" v-model="comment.Res" value="Yes">Yes</label>

                                    <label class="radio-inline"><input type="radio" v-model="comment.Res"  value="No">No</label>
                                </div>
                                <div class="form-group">
                                    <label>Brief Report</label>
                                    <textarea placeholder="Give a brief report on the feedback above.." v-model="comment.Comment" rows="" class="form-control"></textarea>
                                </div>

                            </table>
                        </div>

                        <div class="modal-footer">
                            <button style="display:block; margin:0 auto;" class="btn btn-success" @click="updateComment()">Submit</button>
                        </div>
                    </div>

                </div>
            </div>


            <div id="myModal1" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Did you Visit?</h4>

                        </div>
                        <div class="modal-body">
                            <p class="alert alert-danger alert-dismissable" v-if='errorMessage'>
                                <a href="#" class="close" v-on:click="resetMessage" data-dismiss="alert" aria-label="close">&times;</a> {{errorMessage}}
                            </p>
                            <p class="alert alert-success alert-dismissable" v-if='successMessage'>
                                <a href="#" class="close" v-on:click="resetMessage" data-dismiss="alert" aria-label="close">&times;</a> {{successMessage}}
                            </p>
                            <table class="form">

                                <div class="form-group" style="margin:0 auto;width:100px;">
                                    <label class="radio-inline"><input type="radio" v-model="comment.Res" value="Yes">Yes</label>

                                    <label class="radio-inline"><input type="radio" v-model="comment.Res"  value="No">No</label>
                                </div>
                                <div class="form-group">
                                    <label>Brief Report</label>
                                    <textarea placeholder="Give a brief report on the feedback above.." v-model="comment.Comment" v-model="comment.Comment" rows="" class="form-control"></textarea>
                                </div>

                            </table>
                        </div>

                        <div class="modal-footer">
                            <button style="display:block; margin:0 auto;" class="btn btn-success" @click="updateComment()">Submit</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <script type="text/javascript" src="axios.js">
    </script>
    <script type="text/javascript" src="download.js">
    </script>
    <script type="text/javascript" src="https://unpkg.com/vue@2.5.2">
    </script>
    <script type="text/javascript" src="app.js">
    </script>

</body>

</html>