body {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #074a74;
}

@media (min-width: 768px) {
    .container {
        max-width: 960px;
    }
}

table.list {
    width: 100%;
    margin-top: 33px;
}

table.list th {
    background: #00264d;
    color: #ffffff;
    padding: 9px;
}

table.list td {
    padding: 9px
}

table.list tr {
    background: #EEEEEE;
}

button {
    padding: 2px 9px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #00264d;
    font-weight: bold;
    border: 1px solid #00264d !important;
}